
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "View";
}
@section Styles{
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="~/Content/style.css">
    }

<div class="row">
    <h2 class="text-center">
        Realtime Data Table
    </h2>
    <div class="col-md-7">
        <button class="btn btn-danger" id="remove" title="delete User" disabled>
            <i class="glyphicon glyphicon-remove"></i>
        </button>
        <button class="btn btn-danger" id="update" title="update User" disabled>
            <i class="glyphicon glyphicon-upload" ></i>
        </button>
        <table id="realtime" class="display" width="100%"></table>
    </div>
    <div class="col-md-4 col-md-offset-1">
        <h3 class="text-left">Create/Edit User</h3>
        @*<form action="/User/InsertUser" method="post">*@
            <div class="form-group">
                <label for="fullname"> Full Name</label>
                <input type="text" name="FullName" id="fullname" placeholder="FullName" class="form-control">
            </div>
            <div class="form-group">
                <label for="userName"> User Name</label>
                <input type="text" name="UserName" id="userName" placeholder="UserName" class="form-control">
            </div>
            <div class="form-group">
                <label for="password"> Password</label>
                <input type="text" name="Password" id="password" placeholder="Password" class="form-control">
            </div>
            <div class="form-group">
                <label for="email"> Email</label>
                <input type="text" name="Email" id="email" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
                <label for="comment"> Comment</label>
                <input type="text" name="Comment" id="comment" placeholder="Comment" class="form-control">
            </div>
            <div class="form-group">
                <button class="btn btn-info" id="add">Add</button>
            </div>
        @*</form>*@
    </div>
    <div class="row">
        <div class="col-md-5 ">
            <div id="searchByDate">
                <h4 class="text-left">Search By Date</h4>
                <div class="form-group">
                    <label for="dateFrom">Date From</label>
                    <input type="date" name="DateFrom" id="dateFrom" placeholder="Date From" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="dateTo">Date To</label>
                    <input type="date" name="DateTo" id="dateTo" placeholder="Date To" class="form-control" />
                </div>
                <div class="form-group">
                    <button class="btn btn-info" id="searchByDate">Search</button>
                </div>
            </div>
            
        </div>
    </div>
</div>








    @section Scripts {
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script>
        
        <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/plug-ins/1.10.15/api/row().show().js"></script>
        @*<script src="~/Scripts/data.js"></script>*@
        @*<script src="~/Scripts/windowsSet.js"></script>*@
        <script src="~/Scripts/script.js"></script>
    }

